- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  tags: always

- name: Install common packages
  apt:
    name: "{{ common_packages }}"
    state: present
  tags: packages