name: DevOps Info Service

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true # To make sure that SARIF upload gets called
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk.sarif
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'app_python/requirements.txt'


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app_python/requirements.txt

      - name: Run linter
        run: |
          pip install flake8
          flake8 .

      - name: Run tests
        run: |
          pip install pytest httpx
          pytest

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Generate CalVer tag
        id: calver
        run: |
          echo "version=$(date -u '+%Y.%m.%d-%H.%M')" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t konstantinqwertin/devops-info-app:${{ github.sha }} \
                       -t konstantinqwertin/devops-info-app:${{ steps.calver.outputs.version }} app_python/

      - name: Push Docker image
        run: |
          docker push konstantinqwertin/devops-info-app:${{ github.sha }}
