name: DevOps Info Service

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          
      - name: Cache pip packages
        uses: actions/cache@v3
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('app_python/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
    
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app_python/requirements.txt
          pip install flake8 pytest httpx
          
      - name: Run linter
        run: |
          flake8 app_python/

      - name: Run tests
        run: |
          pytest app_python/
      
  security-scan:
    runs-on: ubuntu-latest  

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Show workspace content
        run: |
          echo "=== Current directory ==="
          pwd
          echo "=== All files ==="
          ls -la
      
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --file=requirements.txt

  docker-build-and-push:
    runs-on: ubuntu-latest
    needs: [build-and-test, security-scan]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Generate CalVer tag
        id: calver
        run: |
          echo "version=$(date -u '+%Y.%m.%d-%H.%M')" >> $GITHUB_OUTPUT

      - name: Build Docker image
        run: |
          docker build -t konstantinqwertin/devops-info-app:${{ github.sha }} \
                       -t konstantinqwertin/devops-info-app:${{ steps.calver.outputs.version }} app_python/

      - name: Push Docker image
        run: |
          docker push konstantinqwertin/devops-info-app:${{ github.sha }}
